<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% load rest_framework %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/png" href="http://www.favicon-generator.org/download/2016-08-18/6dcb1e210a2644d7cbe79d2f18a8362b.ico"/>
    <title>Features | SchoolMe</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'app/startbootstrap-landing-page/css/bootstrap.min.css' %}">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/eabc938590.js"></script>
    <link href="{% static 'app/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <link type="text/css" href="{% static 'app/startbootstrap-landing-page/css/landing-page.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header -->
    <a name="about"></a>

    <div class="intro-header-more">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Contact</h1>
                        <h3>We're always here for you, because learning never stops. </h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/" class="btn btn-default btn-lg"><i class="fa fa-home fa-fw"></i> <span class="network-name">Home</span></a>
                            </li>
                            <li>
                                <a href=#write class="btn btn-default btn-lg"><i class="fa fa-pencil fa-fw"></i> <span class="network-name">Write Us</span></a>
                            </li>
                            <li>
                                <a href=#call  class="btn btn-default btn-lg"><i class="fa fa-phone fa-fw"></i> <span class="network-name">Call Us</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h2 class="section-heading">Do you need the School-Me team?</h2>
                    <h3 class="section-subheading text-muted">We're here, just reach out to us!</h3>
                    <br>
            <br>
                </div>
            </div>


    
        <!-- /.container -->

    <a  name="call"></a>
            <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Call Us</h2>
                    <p class="lead">Phone: (800) 426-9400</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="{% static 'app/photos/phone.png' %}" alt="" height="200" width="200" >  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <a  name="write"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Write Us</h2>
                    <p class="lead">For questions of concerns, please email School-Me Team at <strong><a href="mailto:name@example.com">school-me@outlook.com</a></strong></p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img  src="{% static 'app/photos/email.png' %}" alt="" height="250" width="250">  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/more/">Features</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/contact/">Contact</a>
                        </li>
                        
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Microsoft Corporation 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>