<!-- board discussion template -->
<!-- extends: board_base -->
<!-- main view: discussion -->
<!-- url: /board_name/discussion -->

{% extends 'app/board_base.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n widget_tweaks %}
{% load board_extras %}
{% load threadedcomments_tags %}
<!-- have to load apps on each page since loads do not persist when extending a base template -->

{% block title %}Discussion | {{board}}{% endblock %}

{% block boards %}

<!-- set create board tab to active -->
{% block DiscClass %}class="active"{% endblock %}

{% block HomeLink %}<a href="/board/{{board}}/">{% endblock %}
{% block DiscLink %}<a href="/{{board}}/discussion/">{% endblock %}
{% block MemLink %}<a href="/{{board}}/members/">{% endblock %}
{% block FileLink %}<a href="/{{board}}/files">{% endblock %}
{% block SettingsTab %}
	{% if boardObj in userAdminBoards %}
		<li><a href="/settings/{{board}}">Settings</a></li>
	{% endif %}
{% endblock %}

{% block DiscussionContent %}
	<h1>{{ board }} Discussion</h1>
        <!-- New Post Modal -->
        <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create New Discussion Post</h4>
                    </div>
                    <div class="modal-body">
                        <!-- new post form -->
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <br>
                                {% if field.errors %}
                                    <div class="form-group has-error">
                                        <label class="col-sm-1 control-label" for="id_{{ field.name }}">
                                        {{ field.label }}</label>
                                        <div class="col-sm-11">
                                            {{ field|attr:"class:form-control" }}
                                            <span class="help-block">
                                            {% for error in  field.errors %}
                                                {{ error }}
                                            {% endfor %}
                                            </span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                        <div class="col-sm-11">
                                            {{ field|attr:"class:form-control" }}
                                            {% if field.help_text %}
                                                <p class="help-block"><small>{{ field.help_text }}</small></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-11">
                                    <button id="fpb" type="submit" class="hidden" name="post_feedback" value="Post Feedback">{% trans "Post" %}</button><br><br>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <label for="fpb" class="btn btn-primary">Post</label>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('.modal').on('hidden.bs.modal', function() {
                $(this).find('form')[0].reset();
            })
        </script>
        <br>
        <!-- filter feedback -->
        <div class="container" style="padding: 0px;">
        <form action="" method="post" name="ff">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-10" style="padding: 0px; padding-left: 15px;">
                    <input type="text" class="form-control" id="searchbox" name="q" placeholder="Search for discussion posts..." value="{{query_string}}">
                </div>
                <div class="col-md-2" style="padding: 0px; padding-right: 15px;">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </button>
                    </span>
                </div>
            </div>
            <div class="hidden">
            {% for field in filterform %}
                <br>
                {% if field.errors %}
                    <div class="form-group has-error">
                        <label class="col-sm-1 control-label" for="id_{{ field.name }}">
                        {{ field.label }}</label>
                        <div class="col-sm-11">
                            {{ field|attr:"class:form-control" }}
                            <span class="help-block">
                            {% for error in  field.errors %}
                                {{ error }}
                            {% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-11">
                            {{ field|attr:"class:form-control" }}
                            {% if field.help_text %}
                                <p class="help-block"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </form>
        </div> <!-- end container -->
        <br>
        <div style="text-align: center;">
        <!-- New Post Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: left;"><i class="fa fa-plus" aria-hidden="true"></i> New Post</button>
            <div class="btn-group" role="group">
                <button class="btn btn-primary" onclick="filter('id_filterType','0');" type="submit">New</button>
                <button class="btn btn-primary" onclick="filter('id_filterType','1');" type="submit">Featured</button>
                <button class="btn btn-primary" onclick="filter('id_filterType','2');" type="submit">Old</button>
            </div>
        </div>
        {% if posts %}
            {% for post in posts %}
                <br>
                <h4>
                    <em class="pull-left">
                        <div style="text-align: center; font-style: normal;">
                            <!-- upvoting functionality -->
                            <form action="/upvote/{{post.id}}/{{board}}/" method="post">
                                {% csrf_token %}
                                {% if upvotes|index:forloop.counter0 %}
                                    <!-- if user has upvoted this post, arrow turns orange -->
                                    <button id="upvote-{{forloop.counter0}}" class="glyphicon glyphicon-menu-up" type="submit"  style="font-size: 24px; color: #ff9966;"></button>
                                {% else %}
                                    <!-- otherwise its black -->
                                    <button id="upvote-{{forloop.counter0}}" class="glyphicon glyphicon-menu-up" type="submit"  style="font-size: 24px;"></button>
                                {% endif %}
                            </form>
                            <!-- display net votes -->
                            {{ post.feedback_upvotes|subtract:post.feedback_downvotes }}<br>
                            <!-- downvoting functionality -->
                        </div>
                    </em>
                </h4>
                <div style="margin-left: 50px;">
                    <h4><a href="/profile/{{post.feedback_user.id}}">{{ post.feedback_user }}</a> | <a href="/{{board}}/feedback/{{post.id}}">{{ post.feedback_title }}</a> 
                    <h5>{{ post.feedback_description }}</h5>
                    <p style="display:inline;">{{post.feedback_last_modified }}</p>
                    <!-- show edit and delete buttons only if user is author -->
                    {% if post in userFeedbacks %}
                            <!-- edit feedback button/link hides/unhides prepopulated edit form -->
                             | <a href="javascript:unhide_feedback('editfeedback-{{post.id}}', '{{post.id}}', {{request.user.id}})">Edit</a> | 
                            <!-- delete feedback button -->
                            <a href="/deletefeedback/{{post.id}}/{{board}}/">Delete</a>
                        <br>
                        <!-- edit feedback form -->
                        <div id="editfeedback-{{post.id}}" class="hidden" style="height: 200px;">
                            <form role="form" action="/editfeedback/{{post.id}}/{{board}}/" method="post">
                                {% csrf_token %}
                                {% for field in editDiscussion %}
                                    {% if field.errors %}
                                         <div class="form-group has-error">
                                            <label class="col-sm-1 control-label" for="id_{{ field.name }}">
                                            {{ field.label }}</label>
                                            <div class="col-sm-11">
                                                {{ field|attr:"class:form-control" }}
                                                <span class="help-block">
                                                {% for error in  field.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                                </span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                            <div class="col-sm-11">
                                                {{ field|attr:"class:form-control" }}
                                                {% if field.help_text %}
                                                    <p class="help-block"><small>{{ field.help_text }}</small></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %} 
                                {% endfor %}
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-11">
                                        <button type="submit" class="btn btn-primary" value="Save">{% trans "Save" %}</button><br>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %} <!-- endif feedback in userFeedbacks -->
                </div> <!-- end indvidual feedback div -->
            {% endfor %} <!-- endfor feedback in feedbacks -->
        {% endif %} <!-- endif feedbacks exist -->
{% endblock %}

{% endblock %}
