<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% load rest_framework %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="shortcut icon" type="image/png" href="http://www.favicon-generator.org/download/2016-08-18/6dcb1e210a2644d7cbe79d2f18a8362b.ico"/>
    <title>Home | SchoolMe</title>


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/startbootstrap-landing-page/css/bootstrap.min.css' %}">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/eabc938590.js"></script>
    <link href="{% static 'app/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



    <!-- Custom CSS -->
    <link type="text/css" href="{% static 'app/startbootstrap-landing-page/css/landing-page.css' %}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <p class="alert alert-danger">{{ message }}</p>
        {% elif message.tags == "success" %}
            <p class="alert alert-success">{{ message }}</p>
        {% elif message.tags == "info" %}
            <p class="alert alert-info">{{ message }}</p>
        {% elif message.tags == "warning" %}
            <p class="alert alert-warning">{{ message }}</p>
        {% endif%}
    {%endfor%}
{%endif%}

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/more/">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="/accounts/login/">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>School-Me</h1>
                        <h3>Classroom engagement in one place</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/more/" class="btn btn-default btn-lg"><i class="fa fa-bolt fa-fw"></i> <span class="network-name">Learn More</span></a>
                            </li>
                            <li>
                                <a href="/signup/" class="btn btn-default btn-lg"><i class="fa fa-pencil fa-fw"></i> <span class="network-name">Sign Up</span></a>
                            </li>
                            <li>
                                <a href="/accounts/login/" class="btn btn-default btn-lg"><i class="fa fa-user fa-fw"></i> <span class="network-name">Login</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<!-- Services Section -->
	<a  name="services"></a>
    <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="{% static 'app/photos/fish-glossy.svg' %}" height="200" width="200" style="margin:0;"/>
                    <br>
                    <h2 class="section-heading">What makes School-Me different?</h2>
                    <h3 class="section-subheading text-muted">School-Me was created by students, for students. The perfect way to communicate with your classroom.</h3>
                </div>
            </div>

    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Conversation</h2>
                    <p class="lead">We know that sometimes classtime is not enough. Engage with the students, post explanations about homeworks, or just discuss the plans for the school year. Student will have the opportunity to engage outside
                    the classroom.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'app/photos/conversation.jpg' %}" alt="">  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Customizability</h2>
                    <p class="lead">Your class in unique, this website is unique. Share your knowledge with students, get feedback from them. Creating a community has never been easier.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'app/photos/application-icon.png' %}" alt="" height="200" width="250" style="margin:0;">  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

     <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                      <h2 class="section-heading">Comprehension</h2>
                    <p class="lead">Be able to understand your students struggles. Comprehend their difficulties by their comments or feedback. Help the learning community in a different way. </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                
                    <img class="img-responsive" src="{% static 'app/photos/large-icon.png' %}" alt="">  
                </div>
                    
            </div>

        </div>
        <!-- /.container -->

    </div>

        <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Start with School-Me:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="/signup/" class="btn btn-default btn-lg"><i class="fa fa-pencil fa-fw"></i> <span class="network-name">Sign Up</span></a>
                        </li>
                        <li>
                            <a href="/accounts/login/" class="btn btn-default btn-lg"><i class="fa fa-user fa-fw"></i> <span class="network-name">Login</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/more/">Features</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/contact/">Contact</a>
                        </li>
                        
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Microsoft Corporation 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static 'app/startbootstrap-landing-page/js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'app/startbootstrap-landing-page/js/bootstrap.min.js' %}"></script>


</body>

</html>
